
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.header {
    width: 100%;
    background-color: #A393F5;
}

.nav1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.logo img {
    width: 5vw;
    height: auto;
    margin-left: 2vw;
}

.titulo h1 {
    color: white;
    font-size: 5vw;
    margin: 0;
    margin-left: 2vh;
}

.user {
    display: flex;
    gap: 5vw;
    margin-left: auto;
}

.entrar, .cadastrar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
    color: black;
    background-color: white;
    width: 20vh;
    max-width: 90%;
    height: 8vh;
    border-radius: 5vh;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #A393F5;
    flex-wrap: wrap;
}

.imagem-main {
    width: 70vh;
    height: auto;
}

.imagem-main img {
    max-width: 100%;
}

.texto-main {
    margin-top: 10vh;
    margin-left: 5vw;
    max-width: 50vw;
    color: white;
    font-size: 2vw;
    line-height: 1.5;
    text-align: justify;
    font-weight: bold;
}

.galeria {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: #585275;
}

.nav2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 100%;
}

.pesquisa {
    text-align: center;
    display: flex;
    width: 20vw;
    height: 5vh;
    border-radius: 5vh;
    border: none;
    padding: 10px;
    font-size: 1vw;
}

.pesquisa::placeholder {
    color: #A39BCA;
    font-weight: 300;
}

.cards {
    display: flex; 
    justify-content: center; 
    align-items: flex-start; 
    gap: 2vw; 
    padding: 2vw;
    margin: 2vh auto;
    height: auto; 
    position: relative;
}

.card {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 15vw; 
    height: 50vh; 
    border-radius: 5vh;
    transition: width 0.3s ease, height 0.3s ease;
    overflow: hidden;
    position: relative;
}

.card.expanded {
    width: 100%; 
    max-width: 400px; 
    height: auto; 
    z-index: 4;
    transition: width 0.3s ease, height 0.3s ease; 
}

.mais-informações {
    display: none;
}

.card.expanded .mais-informações {
    display: block; 
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 2;
}

.card.expanded ~ .overlay {
    display: block;
}

.card img {
    max-width: 100%;
}

.card h1 {
    font-size: larger;
}

.card button {
    font-weight: bold;
    margin-top: 1vw;
    border: 0;
    width: 50%;
}

.hidden {
    display: none;
}

@media (max-width: 768px) {
    .titulo h1 {
        font-size: 6vw;
    }

    .entrar, .cadastrar {
        width: 90%;
    }

    .logo img {
        width: 30vw;
    }
}

@media (max-width: 480px) {
    .titulo h1 {
        font-size: 8vw;
    }

    .entrar, .cadastrar {
        font-size: 3.5vw;
        height: 8vh;
    }

    .logo img {
        width: 40vw;
    }
}
